table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table {
  width: 100%;
}

table tbody img {
  height: 50px;
}

.dropdown-menu.show {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.dropdown-item {
  color: rgb(214, 212, 212) !important;
}

.dropdown-item:hover {
  background-color: rgb(214, 212, 212) !important;
  color: rgb(37, 37, 37) !important;
}

.primary-nav {
  background-color: aliceblue;
  padding: 16px 32px;
}
nav a {
  margin-right: 16px;
  text-decoration: none;
}

/* nav a.active {
  font-weight: bold;
  color: lightseagreen;
} */
